<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CompContactServiceSoap" />
                <binding name="ProductServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58833/CompContactService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CompContactServiceSoap"
                contract="Contact_Service.CompContactServiceSoap" name="CompContactServiceSoap" />
            <endpoint address="http://localhost:58833/ProductService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductServiceSoap"
                contract="Product_Service.ProductServiceSoap" name="ProductServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
